#start-screen{
	display: none;
	position: absolute;
}

#end-screen{
	display: none;
	position: absolute;
}

#dominion-board{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 500px;
}

.wrapper{
	margin: 0px 5%;
}

.card{
	float: left;
	height: 84px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	cursor: pointer;
}

#supply-cards .card{
	height: 59px;
	width: 60px;
}

#supply-cards .card img{
	float: left;
	position: relative;
	top: -32px;
	left: -10px;
}

.hand-card{
	position: relative;
	float: left;
	margin: 5px;
	float: left;
	cursor: pointer;
}

#dominion-board{
	margin-left: auto;
	margin-right: auto;
}

#player-name{
}


#kingdom-cards{
	float: left;
	overflow: hidden;
	width: 220px;
	margin-right: 30px;
}

#supply-cards{
	overflow: hidden;
	width: 80px;
	float: left;
}

#hand{
	overflow: hidden;
	clear: both;
	position: relative;
	top: 20px;
	/* probably change this eventually */
	width: 660px;
}

#popup{
	display: none; 
	position: absolute; 
	left: 100px; 
	top: 50px; 
	border: solid black 1px; 
	padding: 10px; 
	font-size: 12px; 
	width: 135px;
	background: white;
	cursor: pointer;
}

#user-info{
	text-align: center;
}

#info{
	top: 10px;
	left: 20px;
	position: relative;
}

.info-info{
	font-size: 16pt;
}

#popup-close{
	float: right;
	position: relative;
	bottom: 20px;
}

#game-info{
	float: left;
	overflow-y:scroll; 
	height:250px;
	width: 500px;
	word-wrap:break-word;
	font-size: 10pt;
}

#game-info p {
	line-height: 18px;
}

#buttons{
	width: 110px;
	height: 30px;
	left: 20px;
	position: relative;
	top: 10px;
	float: left;
	clear: both;
}

#user{
	float: left;
	position: relative;
}

#user-info{
	float: left;
	margin-left: 10px;
}

#card-effects{
	clear: both;
	position: relative;
	height: 50px;
}

.card:hover{
	/*Transition*/ -webkit-transition: all 0.1s ease; 
	-moz-transition: all 0.1s ease; 
	-o-transition: all 0.1s ease; 
	 outline: 5px solid rgba(57, 147, 252, 100);
	 /* #67E6EC */
	}

.hand-card:hover{
		/*Transition*/ -webkit-transition: all 0.1s ease; 
	-moz-transition: all 0.1s ease; 
	-o-transition: all 0.1s ease; 
	 outline: 5px solid rgba(57, 147, 252, 100);
	 /* #67E6EC */
	}
}

#yes-question, #no-question{
	cursor: pointer;
}

#yes-question:hover, #no-question:hover, .player-num:hover, .button:hover, .button-special:hover{
	-webkit-transition: all 0.1s ease; 
	-moz-transition: all 0.1s ease; 
	-o-transition: all 0.1s ease; 
	color: rgba(57, 147, 252, 100);
	cursor: pointer;
}

.checked, .select-one-card:hover, .select-card:hover{
	-webkit-transition: all 0.1s ease; 
	-moz-transition: all 0.1s ease; 
	-o-transition: all 0.1s ease; 
	 outline: 5px solid #FC1717;
}

#end-screen{
	width: 890px;
	margin-left: auto;
	margin-right: auto;
}

#end-screen-results{
	float: left;
	position: relative;
	top: 98px;
	left: 50px;
	height: 300px;
	margin-right: 160px;
	width: 225px;
	text-align: center;
}

#final-log{
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	top: 20px;
	width: 500px;
	border: 1px solid gray;
	height: 400px;
}

#final-log p{
	left: 20px;
	position: relative;
}

.button, .player-num {
	background-color:#fafafa;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #afccb2;
	display:inline-block;
	cursor:pointer;
	color:#2b2a2b;
	font-family:Arial;
	font-size:18px;
	padding:5px 15px;
	text-decoration:none;
}
.button:hover, .player-num:hover {
	background-color:#f0f0f0;
}
.button:active, .player-num:active {
	position:relative;
	top:1px;
}

#start-game{
	position: relative;
	top: 28px;
	clear: both;
}

#start-screen{
	text-align: center;
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 300px;
}

#start-screen h1{
	margin-bottom: 34px;
	margin-top: 65px;
}

.button-special {
	background-color:#fafafa;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #afccb2;
	display:inline-block;
	cursor:pointer;
	color:#2b2a2b;
	font-family:Arial;
	font-size:16px;
	padding:5px 15px;
	text-decoration:none;
}
.button-special:hover {
	background-color:#f0f0f0;
}
.button-special:active {
	position:relative;
	top:1px;
}

.red-circle{
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	width: 15px;
	height: 15px;
	background: red;
}

.button-special, .button-disabled{
	margin-top: 5px;
}

.button-disabled{
	background-color:#ffffff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #d9d9d9;
	display:inline-block;
	cursor:pointer;
	color:#b3b3b3;
	font-family:Arial;
	font-size:16px;
	padding:5px 15px;
	text-decoration:none;
	cursor: default;
}